/* Reset some default styles */
body, h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

/* Apply a basic font and spacing */
body {
  font-family: 'Roboto Slab', serif;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2, h3, h4 {
  color: #333;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

/* Header */
header {
  background-color: #1d3557;
  color: white;
  text-align: center;
  padding: 1rem;
}

header a img {
  max-width: 100%;
  height: auto;
}

/* Navigation */
nav {
  background-color: #457b9d;
  padding: 0.5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Main */
main {
  padding: 2rem;
}

/* Hero Image */
#hero img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

/* Footer */
footer {
  background-color: #1d3557;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Mobile-first responsive design */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  #contact iframe {
    width: 100%;
  }
}

/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
.tablet-desktop {
  display: block;
}

.mobile {
  display: none;
}

/* Tablet and Desktop Responsive Design */
@media (min-width: 601px) {
  .mobile {
    display: none;
  }

  .tablet-desktop {
    display: block;
  }
}

/* Tablet Viewport: Style rule for header */
header {
  position: static;
  padding-bottom: 2%;
}

/* Tablet Viewport: Style rules for nav area */
nav li {
  border-top: none;
  display: inline-block;
  border-right: 1px solid #fff;
}

/* Style rule for last nav item */
nav li:last-child {
  border-right: none;
}

/* Style rules for nav links */
nav li a {
  padding: 0.1em 0.75em;
}

/* Tablet Viewport: Style rules for main content area */
main ul {
  margin: 0 0 4% 10%;
}
